<div id="<%= dom_id collaboration %>">
  <p>
    <strong>Name:</strong>
    <%= collaboration.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= collaboration.description %>
  </p>

</div>
